<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361688343900-sobhelrs2829tosn13ogjuel45r80ht0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361688343900-sobhelrs2829tosn13ogjuel45r80ht0</string>
	<key>API_KEY</key>
	<string>AIzaSyBhTCreKOf7hcYW9zdRyB_wabwhHCFDR4U</string>
	<key>GCM_SENDER_ID</key>
	<string>361688343900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>learn-english-7e221</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-english-7e221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361688343900:ios:151013be20b97c73504d99</string>
	<key>DATABASE_URL</key>
	<string>https://learn-english-7e221.firebaseio.com</string>
</dict>
</plist>